<div ui-view class="view clearfix">
  <div class="page-header clearfix">
    <ol class="heading">
      <li><a ui-sref="main.sites">硬件信息</a></li>
    </ol>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <ul class="nav nav-pills">
            <li ng-repeat="item in network" ng-class="select === $index && 'active'" role="presentation"><a ng-click="select === $index">{{item.name}}</a></li>
          </ul>
        </div>
      </div>
      <div ng-show="select === $index" ng-repeat="item in network" class="panel panel-default">
        <div class="panel-heading">上行带宽 kb/s</div>
        <div class="panel-body">
          <canvas id="transmitChart{{$index}}"></canvas>
        </div>
      </div>
      <div ng-show="select === $index" ng-repeat="item in network" class="panel panel-default">
        <div class="panel-heading">下行带宽 kb/s</div>
        <div class="panel-body">
          <canvas id="receiveChart{{$index}}"></canvas>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">硬件使用率</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-4 text-right"><p><b>CPU：</b></p></div>
            <div class="col-xs-8">{{cpu}}%</div>
          </div>
          <div class="row">
            <div class="col-xs-4 text-right"><p><b>内存：</b></p></div>
            <div class="col-xs-8">{{mem}}%</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>