<!-- 配置 -->
<div class="modal fade" id="networkModal" tabindex="-1" role="dialog" aria-labelledby="networkModalTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="networkModalTitle">配置网卡</h4>
      </div>
      <div class="modal-body">
        <form ng-submit="saveNetworkConfig()" class="form-horizontal" id="networkForm" name="networkForm" novalidate>
          <div ng-class="{ 'has-error': networkForm.address.$touched && networkForm.address.$invalid }" class="form-group">
            <label for="address" class="col-sm-2 control-label">* 网络地址：</label>
            <div class="col-sm-10">
              <input ng-model="networkConfig.address" ng-pattern="/^((25[0-5]|2[0-4]\d|((1\d{2})|([1-9]?\d)))\.){3}(25[0-5]|2[0-4]\d|((1\d{2})|([1-9]?\d)))$/" type="text" class="form-control" id="address" name="address" placeholder="请输入IP地址" required>
            </div>
          </div>
          <div ng-class="{ 'has-error': networkForm.netmask.$touched && networkForm.netmask.$invalid }" class="form-group">
            <label for="netmask" class="col-sm-2 control-label">* 子网掩码：</label>
            <div class="col-sm-10">
              <input ng-model="networkConfig.netmask" ng-pattern="/^((25[0-5]|2[0-4]\d|((1\d{2})|([1-9]?\d)))\.){3}(25[0-5]|2[0-4]\d|((1\d{2})|([1-9]?\d)))$/" type="text" class="form-control" id="netmask" name="netmask" placeholder="请输入子网掩码地址" required>
            </div>
          </div>
          <!--<div ng-if="networkConfig.name !== 'lo'" ng-class="{ 'has-error': networkForm.gw.$touched && networkForm.gw.$invalid }" class="form-group">-->
            <!--<label for="gw" class="col-sm-2 control-label">* 网关地址：</label>-->
            <!--<div class="col-sm-10">-->
              <!--<input ng-model="$parent.networkConfig.gw" ng-pattern="/^((25[0-5]|2[0-4]\d|((1\d{2})|([1-9]?\d)))\.){3}(25[0-5]|2[0-4]\d|((1\d{2})|([1-9]?\d)))$/" type="text" class="form-control" id="gw" name="gw" placeholder="请输入网关地址" required>-->
            <!--</div>-->
          <!--</div>-->
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" type="button" data-dismiss="modal">取消</button>
        <button ng-disabled="networkForm.$invalid" class="btn btn-primary" type="submit" form="networkForm"><i class="fa fa-save"></i> 保存配置</button>
      </div>
    </div>
  </div>
</div>

<!-- 主体 -->
<div ui-view class="view clearfix">
  <div class="page-header clearfix">
    <ol class="heading">
      <li><a ui-sref="main.sites">网络管理</a></li>
    </ol>
  </div>
  <div class="panel panel-default clear-bottom-margin">
    <div class="panel-body table-responsive">
      <table class="table table-hover">
        <thead class="text-center">
        <tr>
          <th>设备</th>
          <th>地址</th>
          <th>子网掩码</th>
          <!--<th>网关</th>-->
          <th>MAC</th>
          <th>启用</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody class="text-center text-middle">
        <tr ng-repeat="item in network">
          <td>{{item.name}}</td>
          <td>{{item.address}}</td>
          <td>{{item.netmask}}</td>
          <td>{{item.name}}</td>
          <td>
            <i ng-class="{ 'fa-toggle-on text-success': item.active === true, 'fa-toggle-off text-muted': item.active === false }" ng-click="changeNetwork(item)" class="fa fa-2x pointer"></i>
          </td>
          <td>
            <button ng-click="networkModel(item)" type="button" class="btn btn-default btn-xs"><i class="fa fa-edit"></i> 配置</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>